.social-icon__list {
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
/*.social-icon__link:not(:last-child) {
  margin-right: 10px;
}*/
/*.social-icon__link:hover,
.social-icon__link:focus {
  background-color: var(--main-color);
}*/
.social-icon__link {
  display: flex;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  transition: background-color 250ms var(--timig-fn);
  &:hover,
  &:focus {
    background-color: var(--main-color);}
    & :not(:last-child) {
      margin-right: 10px;
    }
  }
}
