:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #2196f3;
  --secondary-color: #212121;
  --third-color: #757575;
  --timig-fn: cubic-bezier(0.4, 0, 0.2, 1);
}
